.list--steps{
  margin-top: make_em(100,16);
  text-align: center;
}

.list--places{
  margin-top: make_em(30,16);
}

.list--filters{
  width: 70%;
}

.list--perks{
  min-height: 30px;
  margin:make_em(15,16) make_em(5,16);
}

.list--comments{
  margin-top:make_em(65,16);
}

.list--answers{
  margin-top:make_em(30,16);
}

.list--trophies{
  margin-top:make_em(30,16);
}
