footer{
  font-size:make_em(14,16);
  margin-top:calc(120 / 1680 * 100%);
  border-top: 1Px solid $color-border;
  padding:make_em(20,14) percentage(80/1680);
}

.footer__disclaimer{
  color:$color-primary;
  border-bottom: 1px solid $color-primary;

  &:hover{
    color: darken($color-primary,15%);
    border-color: darken($color-primary,15%);
  }
}


.footer--compte{
  margin-top: 0px;
}

@media (max-width: 850px){
  footer{
      margin-top:make_em(60,14);
  }
}


@media (max-width: 750px){
  .footer__menu, .footer__infos{
    width: 100%;
    display: block;
    float: none;
    text-align: center;
  }

  .footer__infos{
    margin-top:1em;
  }

}

@media (max-width: 500px){
  footer{
      margin-top:make_em(40,14);
  }
}
