.intro__container{
  &--centered{
    max-width: 550px;
    margin:0px auto;
    text-align: center;
  }
}


.intro__text{
  margin-top:make_em(25,16);
}


.about__paragraph{
  margin:make_em(25,16) 0px make_em(50,16);
}


@media (max-width: 700px){
  .intro__text, .about__paragraph{
    text-align: justify;
  }
}

@media (max-width: 600px){
  .intro__container{
    &--centered{
      max-width: none;
      width: 90%;
    }
  }

}
