.wrapper--large{
  width: percentage(1520/1680);
  max-width: 1520px;
}

.wrapper--places{
  width: percentage(1540/1680);
}


.wrapper--smallest{
  width:1040px;
}

.wrapper--small{
  width: 1100px;
}

.wrapper--fiche{
  width: 1300px;
}

.wrapper--centered{
  margin:0px auto;
}

.wrapper--modal{
  background: white;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.wrapper--modal--small{
  width: 500px;
}

.wrapper--modal--large{
  width: 600px;
}

@media (max-width: 1350px){
  .wrapper--fiche{
    width: 90%;
  }
}

@media (max-width: 1200px){
  .wrapper--smallest{
    width:90%;
  }
}


@media (max-width: 1150px){
  .wrapper--small{
    width: 90%;
  }
}
