.intro__container{
  &--centered{
    max-width: 550px;
    margin:0px auto;
    text-align: center;
  }
}


.intro__text{
  margin-top:make_em(25,16);
}


.about__paragraph{
  margin:make_em(25,16) 0px make_em(50,16);
}


.section__texts{
  margin-top:make_em(20,16);
  column-count: 2;
  text-align: justify;
  column-gap: 50px;
  orphans: 3;

  p+p{
    margin-top:make_em(24,16);
  }
}

@media (max-width: 700px){
  .intro__text, .about__paragraph{
    text-align: justify;
  }
}

@media (max-width: 600px){
  .intro__container{
    &--centered{
      max-width: none;
      width: 90%;
    }
  }

}

@media (max-width: 700px){
  span.hide--responsive{
    position:absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
    width:1px;
    height: 1px;
  }

  .map__text{
    text-transform: capitalize;
  }

  .section__texts{
    column-count: 1;
    text-align: justify;
    column-gap: 0px;
    orphans: auto;
    
  }
}

@media (max-width: 450px){
  a.hide--responsive{
    position:absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
    width:1px;
    height: 1px;
  }

}
