//$color-text:#exemple;


$color-title: #878787;
$color-primary:#56BDD8; //Bleu
$color-text:#909090; //Gris text
$color-border:#E3E3E3;
$color-bouton-primary:#56BDD8;
$color-border-form:#CDCDCD;
$color-bg-back:#F6F7FB;
